[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
requests = "*"
googlemaps = "*"
django-cors-headers = "*"
django-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
